.result-item {
  border: 1px solid gray;
  margin: 10px 100px;
  padding: 10px 20px;
}

#dashboard, #homepage, #login-form, #signup-form {
  text-align: center;
}

.dashboard-recipe {
  border: 1px solid gray;
  margin: 20px 100px;
  padding: 20px;
}

#modal {
  background: rgba(0,0,0,.1);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

#nav-bar {
  list-style: none;
  padding-left: 0;
}

#results-page {
  text-align: center;
}
