/* SEMANTIC ELEMENTS */

* {
  background-color: #ECECEA;
}

button {
  border-radius: 20px;
  background-color: rgba(211, 211, 211, .5);
  height: 35px;
  outline: none;
}

.form-input {
  background: transparent;
  background-color: white;
  text-align: center;
  margin: 5px 0;
  outline: none;
  padding: 10px;
  width: 30%;
}

/* RECIPE RESULT */

.result-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.result-item {
  border: 1px solid gray;
  box-shadow: 2px 1px 1px gray;
  margin: 25px 20px;
  padding: 10px 10px;
  width: 275px;
}

.homepage-item {
  border: 1px solid gray;
  box-shadow: 3px 2px 2px gray;
  margin: 25px 20px;
  padding: 10px 10px;
  width: 400px;
}

#dashboard, #homepage, #login-form, #results-page, #signup-form {
  text-align: center;
}

/* DASHBOARD PAGE */

.dashboard-container {
  align-items: center;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 100px;
}

.dashboard-item {
  flex: 6;
  padding: 15px;
}

.saved-item-title{
  margin-top: 0;
}

/* MODAL */

#modal {
  border: 5px solid #5281ab;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 200px;
}

/* NAV */

#nav-bar {
  list-style: none;
  padding-left: 0;
}

li, #nav-bar {
  display: inline;
  padding: 0 5px;
}

a, li, #nav-bar {
  color: gray;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .dashboard-container {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
  }

  .dashboard-item {
    padding: 0;
  }
}
